input,
label {
    width: 99%;
    margin: auto;
    display: block;
    margin-top: 10px;
}

label,
h1 {
    text-align: center;
}

input {
    height: 35px;
}
input[type="button"]:hover{
    background-color: bisque;
}